<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <properties resource="database.properties">
        <!--        优先使用外部配置文件的属性-->
        <!--        <property name="username" value="root"/>-->
        <!--        <property name="password" value="1256"/>-->
    </properties>


    <typeAliases>
        <package name="com.flash.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper class="com.flash.dao.BookMapper"/>
        <mapper class="com.flash.dao.UserMapper"/>
    </mappers>
</configuration>